<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <DemoDb>
    <ConnectionString>Data Source=.:1434;Integrated Security=True;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;Packet Size=4096;</ConnectionString>
    <DbName>AdventureWorksLT2017</DbName>
  </DemoDb>
</configuration>